html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	text-decoration: none;
	
}

a {
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}