<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/global.css">
	<link rel="stylesheet" href="./css/todo.css">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
		<div class="head">
			<button id="logout" class="head__btn">
				Back
			</button>
			<div class="user-text">
				<h1 class="head__username" id="usernameText"></h1>
				<span>last seen recently</span>
			</div>
			<img src="" alt="">
		</div>
		<ul class="todosList" id="ulList"></ul>
		<form id="form">
			<input id="textInput" type="text" placeholder="Message" required>
			<!-- <input id="timeInput" type="time" placeholder="time..." required> -->
			<button class="sub-button" type="submit">
				
			</button>
		</form>
	</div>

<script src="./js/request.js"></script>
<script src="./js/todo.js"></script>
</body>  
</html>