<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/global.css">
	<link rel="stylesheet" href="./css/auth.css">
	<title>Log in</title>
</head>
<body>
	
	<div>
		<h1 class="header">Log in</h1>
		<p style="height: 18px; font-size: 20px;" id="message"></p>
		<form id="form">
			<input class="username" id="usernameInput" type="text" placeholder="username..." required >
			<input class="pass" id="passwordInput" type="password" placeholder="password..." required >
			<button class="btn-log" type="submit">Log in</button>
		</form>
		<span class="sing-up">Not have an account? <a href="./register">Register</a> here</span>
	</div>


<script src="./js/request.js"></script>
<script src="./js/login.js"></script>  
</body>
</html>